extends base

block headLink
        style.
            .main {
            margin: 10rem 0;
            }
            .details{
                font-size:1.6rem;
                background-color:#01a8b3;
                color: #f4f4e4;
                padding:0.8rem;
                border-radius:5px;
            }
            .details:hover{
                cursor:pointer;
            }
            a.details:link,a.details:active,a.details:visited{
                text-decoration:none;

            }
block headerLinks 
    a(href='/views') Home
    a(href='/views/blogs') Blog
    a(href='/views/createBlog') Add Blog
    a.sign-up#logout(style={cursor:'pointer'}) Log Out
block content
        .main
            .blogs.container
                p.blog-section-heading All Posts
                .grid.grid--3-cols
                    each blog in blogs
                        .blog-post
                            .blog-post-img
                                img(src=`/img/${blog.image}` alt=`${blog.image}`)
                            p #{blog.tags?blog.tags.split(",")[0]:"No Tag"}
                            h3 #{blog.title.length > 20 ? blog.title.slice(0, 25) + "..." : blog.title}
                            .blog-date-read-info
                                p #{blog.createdAt.toISOString().split("T")[0]}
                                a.details(href=`/views/viewBlog/${blog.slug}`) Details
        
        script(type='module', src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
        script(nomodule='', src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')
        //- script.
        //-     const apiURL='http://127.0.0.1:3000/api/v1/users/logout'
        //-     const logoutBtn=document.getElementById('logout')
        //-     logoutBtn.addEventListener('click',async(e)=>{
        //-         e.preventDefault();
        //-         const response=await fetch(apiURL,{
        //-             method:'GET',
        //-             credentials:'include'
        //-         })
        //-         const data=await response.json();
        //-         if(data.status='success'){
        //-             alert(data.message)
        //-         }
        //-         setTimeout(()=>{
        //-             window.location.href='/views'
        //-         },1000)
        //-     })