extends base

block headerLinks
    a(href='/views') Home
    a(href='/views/blogs') Blog
    a(href='/views/login') Log In
    a.sign-up(href='/views/signup') Sign Up
        
block content
    .main
        .hero
            p.animate-character Innovate. Inform. Inspire.
            img.hero--img(src='/img/hero.jpg' alt='hero image').hero--img
        .blogs.container
            p.blog-section-heading Recent Posts
            .grid.grid--3-cols
                each blog in blogs
                    .blog-post
                        .blog-post-img
                            img(src=`/img/${blog.image}` alt=`${blog.image}`)
                        p #{blog.tags?blog.tags.split(",")[0]:"No Tag"}
                        h3 #{blog.title.length > 20 ? blog.title.slice(0, 25) + "..." : blog.title}
                        .blog-date-read-info
                            p=blog.createdAt
                            p 5 min read
                //- .blog-post
                //-     .blog-post-img
                //-         img(src='/img/pexels-freestockpro-319968.jpg' alt='blog-post-1')
                //-     p Cyber Security
                //-     h3 The Ever-Evolving Cybersecurity Landscape
                //-     .blog-date-read-info
                //-         p June 26,2023
                //-         p 5 min read
                //- .blog-post
                //-     .blog-post-img
                //-         img(src='/img/pexels-googledeepmind-17483848.jpg' alt='blog-post-1')
                //-     p Cyber Security
                //-     h3 The Ever-Evolving Cybersecurity Landscape
                //-     .blog-date-read-info
                //-         p June 26,2023
                //-         p 5 min read
                //- .blog-post
                //-     .blog-post-img
                //-         img(src='/img/pexels-googledeepmind-17483848.jpg' alt='blog-post-1')
                //-     p Cyber Security
                //-     h3 The Ever-Evolving Cybersecurity Landscape
                //-     .blog-date-read-info
                //-         p June 26,2023
                //-         p 5 min read
                //- .blog-post
                //-     .blog-post-img
                //-         img(src='/img/pexels-googledeepmind-17483848.jpg' alt='blog-post-1')
                //-     p Cyber Security
                //-     h3 The Ever-Evolving Cybersecurity Landscape
                //-     .blog-date-read-info
                //-         p June 26,2023
                //-         p 5 min read
                //- .blog-post
                //-     .blog-post-img
                //-         img(src='/img/pexels-googledeepmind-17483848.jpg' alt='blog-post-1')
                //-     p Cyber Security
                //-     h3 The Ever-Evolving Cybersecurity Landscape
                //-     .blog-date-read-info
                //-         p June 26,2023
                //-         p 5 min read
    .explore-more 
        button 
            a(href='/views/blogs') Explore More Articles           
    .subscribe 
        p Don't Miss Our Weekly Post 
        p 
            | Subscribe to our newsletter and never miss out on the latest tech
            | trends again.
        .subscribe-form 
            .subscribe-email-form 
                input(type='email' name='email' id='email' class='email' placeholder='name@email.com')
                button.subscribe-button(type='submit') Subscribe
